@{ ViewData["Title"] = "Política de privacidad"; }
<h1>@ViewData["Title"]</h1>

<p>Utilice esta página para detallar la política de privacidad de su sitio.</p>


<blockquote>
    <p align="justify">
        Muchos empleados domésticos desempeñan su profesión “bajo cuerda”, es decir, sin estar dados de alta en la seguridad social y sin ninguna regularización de sus contratos de trabajo. Esta es quizás una situación cotidiana y, sin embargo, absolutamente ilegal.

        ¿Qué significa esto? Que el trabajador no cotiza por su trabajo, con los perjuicios que ello conlleva para futuras prestaciones como jubilación, bajas médicas, incapacidades permanentes, maternidad, paternidad, que no tendrá vacaciones remuneradas o que quizás su salario no alcance la cantidad mínima legalmente establecida.

        ¿Qué hay de los empleadores? Los que contraten a una persona como empleada del hogar sin los correspondientes trámites legales se enfrentan a importantes sanciones de hasta 10.000 dolares.

        Ahora que ya estás al corriente de lo correcto ante la ley, en este artículo, desde Legálitas te explicamos cómo deben ser los procedimientos para el contrato de un empleado doméstico.
    </p>


</blockquote>
<center>
    <img src="https://mujeresmas.mx/wp-content/uploads/2020/03/multi-400x240.png"
         align="top" alt="Una política tiene privacidad o póliza de privacidad es un documento legal que plantea cómo una organización retiene, procesa o maneja los datos del usuario y cliente."
         width="400"
         height="341"
         title="Una política tiene privacidad o póliza de privacidad es un documento legal.">
</center>
<blockquote align="justify">

    <section>

        <h1>Alta en la Seguridad Social</h1>

        <p>
            La persona que vaya a contratar a un empleado es la que debe tramitar el alta en la Seguridad Social, que comienza con una solicitud antes de comenzar la actividad laboral, excepto si se prestan servicios durante menos de 60 horas al mes en cada hogar.

            En ese caso, es el empleado el que, con la firma y constancia del empleador, se encargará directamente de su afiliación, altas, bajas y variaciones de datos, de formalizar, la cobertura de las contingencias profesionales con la entidad gestora o colaboradora de la Seguridad Social y cumplir la obligación de cotizar

            Durante 2019, los empleadores pueden beneficiarse de una reducción del 20% en la aportación del empleador por contingencias comunes. Dicha reducción de cuotas puede complementarse hasta alcanzar el 45% con la bonificación para familias numerosas.

            No se aplican en caso de que los empleados de hogar que presten servicios durante menos de 60 horas mensuales y asuman el cumplimiento de las obligaciones en materia de alta y cotización.
        </p>

        <div style="padding:12px;background-color: #a3e4d7 ;line-height:1.4;">

            <p>Sanciones por no darse de alta en la Seguridad Social</p>
            <ul>
                Mucha atención con no regularizar la situación de los empleados, ya que no dar de alta al empleado doméstico es una infracción grave, como también lo es dar de alta al trabajador fuera del plazo establecido tras una inspección.

                Las sanciones por esta infracción se aplican en forma una multa que puede ir desde los 3126 dolares hasta un máximo de 6250 dolares.
            </ul>

        </div>

        <h1>¿Cómo cotizan los empleados del hogar?</h1>
        <p>
            Desde 2019, con la subida del SMI, hay un cambio en la escala que determina las bases de cotización de los empleados de hogar, que va en retribución desde 206,00 hasta 1294,01.
            Del 28,3 por ciento a ingresar, el 23,6 por ciento corre a cargo del empleador y el 4,7 por ciento a cargo del trabajador. El empleador es el que debe abonar un 1,50 por ciento de contingencias profesionales.
            De nuevo, una excepción es el caso de los trabajadores de menos de 60 horas mensuales: serán ellos los responsables de abonar las contingencias comunes y profesionales.
        </p>


        <h1>Salario de los empleados domésticos</h1>

        <p>
            El sueldo mínimo de los empleados del hogar es el Salario Mínimo Interprofesional o SMI, que en 2019 es de 900 euros al mes, en jornada completa y en 14 pagas.

            Si un trabajador presta servicios durante menos horas, por ejemplo, a jornada parcial, su salario debe ser, como mínimo, la parte proporcional al SMI.

            En el caso de empleados domésticos internos, que reciben alojamiento y comida en la casa donde trabajan, una parte de dicho salario puede retribuirse en especie, pero nunca superando el 30 por ciento del salario total, no pudiéndose descontar esta retribución en especie del SMI en computo mensual.
        </p>

        <center>
            <img src="https://dnf.com.mx/wp-content/uploads/2018/03/trabajadores-hogar.png" alt="Una política tiene privacidad o póliza de privacidad es un documento legal que plantea cómo una organización retiene, procesa o maneja los datos del usuario y cliente."
                 width="400"
                 height="341"
                 title="control sanitario.">
        </center>

        <p align="center">
            <input type="text" name="texto" value="¡Es Hora de Hacer el Cambio !" readonly minlength="40" maxlength="25" size="25">
        </p>
    </section>
</blockquote>